[Unit]
Description=MIDI Instrument
After=sound.target local-fs.target cpu-performance.service

[Service]
User=synth
Group=audio
WorkingDirectory=/home/synth/synth
ExecStart=taskset -c 0,1 /usr/bin/python3 src/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
